<!DOCTYPE html>
<html>
    <body>
        <form action="/api/restaurants" method="get">
            <input class="form-component" type="submit" value="Search">
            <button type='submit'>Add this restaurant</button>
        </form>
    </body>
</html>
